<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/assets/css/admin.min.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<nav>
			<ul class="nav nav-stacked">
				<li><a href="/" target="_blank"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>查看站点</a></li>

				<li><a href="/admin"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>仪表盘</a></li>

				<li class="articleBtn"><a href="#"><span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>文章管理</a></li>
				<ul class="articleMenu">
					<li><a href="/admin/article/">所有文章</a></li>
					<li><a href="/admin/article/publish">新建文章</a></li>
					<li><a href="/admin/article/category">分类目录</a></li>
				</ul>
				<li><a href="/admin/user"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>用户管理</a></li>

				<li><a href="/admin/comment"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>评论管理</a></li>
			</ul>
		</nav>
	</header>
	<div id="container">
		<div class="topbar">
			<span id="username">{{username}}</span>
			<span id="out">退出</span>
		</div>
		<h2>{{title}}</h2>
		{% block content %}
		
		{% endblock %}
	</div>
	<script src="//cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
	<script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/assets/js/admin.js"></script>
</body>
</html>