{% extends '../layouts/app.html' %}
{% block content %}
<div id="container">
	<article class="main detail">
		<article class="post_content">
			<h2>{{doc.title}}</h2>
			<p class="postmeta">
				<span>{{doc.time}}</span>
				<span>作者:{{doc.author}}</span>
				<span>
					分类:
					{% for c in doc.classes%}
						{{c}}
					{% endfor %}
				</span>
				<span>浏览({{doc.views}})</span>
				<span>评论({{comments.length}})</span>
			</p>
			<div class="article">
				{% autoescape false %}
				    {{doc.content}}
				{% endautoescape %}
			</div>
			{% for t in doc.tag %}
			<span class="tag label label-default">{{t}}</span>
			{% endfor %}
		</article>
		<section class="commentList">
			<ul>
				{% for comment in comments %}
				<li>
					<div class="avatar">{{comment.name}}</div>
					<div class="commen_info">
						<span class="author">{{comment.name}}</span> 发表于{{comment.time}}
						<div class="content">
							{{comment.content}}
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</section>
		<section class="commentsForm">
			<h2>发表评论</h2>
			<form>
				{% if username==null %}
				<input type="text" placeholder='*昵称' class="input" id="name" required /><br/>
				<input type="email" placeholder='*邮箱' class="input" id="email" required /><br/>
				{% else %}
				{{username}},已登录,可直接评论<br/>
				{% endif %}
				<textarea id="content" rows="3" class="input" placeholder="说点什么吧..."></textarea><br/>
				<input type="hidden" id="postid" value="{{doc.id}}"/>
				<input type="button" id="commentBtn" value="提交" class="btn btn-primary" />
			</form>
		</section>
	</article>
	{% include "sidebar.html" %}
</div>
{% endblock %}