{% extends '../layouts/app.html' %}
{% block content %}
<div id="container">
	<article class="main">
		{% for doc in docs %}
		<section class="post">
			<a href="/article/{{doc.id}}" title="{{doc.title}}"><img class="covery" src="/assets/img/cover.png" alt="文章封面"/></a>
			<div class="postmeta">
				<a href="/article/{{doc.id}}" target="_blank"><h2>{{doc.title}}</h2></a>
				<p>
					<span class="publish_time">{{doc.time}}</span>
					分类:<span class="classify">
						{% for c in doc.classes %}
							{{c}}
						{% endfor %}
					</span>
					<span class="editlink">
						<a href="/admin/article/edit?id={{doc.id}}">编辑</a>
					</span>
					<span class="views">浏览({{doc.views}})</span>
				</p>
				<p>
					{% for t in doc.tag %}
					<span class="tag label label-default">{{t}}</span>
					{% endfor %}
					<a href="/article/{{doc.id}}" class="readmore">阅读全文</a>
				</p>
			</div>
		</section>
		{% endfor %}
		{% include '../layouts/pagination.html' %}
	</article>
{% include "sidebar.html" %}
</div>
{% endblock %}
