<aside>
	<section>
		<h2>热门文章</h2>
		<ul class="hotpost">
			{% for hotPost in hotPosts %}
			<li title="{{hotPost.title}}">
				<a href="/article/{{hotPost.id}}" class="hotpost_title">
				{{hotPost.title}}</a>
				<span class="views">浏览({{hotPost.views}})</span>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section>
		<h2>近期评论</h2>
		<ul>
			<li>{{test}}</li>
			<li>小明在<a href="">测试文章</a>中说：真好看</li>
			<li>小明在<a href="">测试文章</a>中说：真好看</li>
			<li>小明在<a href="">测试文章</a>中说：真好看</li>
			<li>小明在<a href="">测试文章</a>中说：真好看</li>
		</ul>
	</section>			
</aside>